@import 'bootstrap/dist/css/bootstrap';

.no-right-padding { 
  padding-right: 0 !important;
}

.no-left-padding { 
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

// Width
@for $value from 1 through 100 {
  .w-#{$value} {
    width: 1% * $value !important;
  }
}
